<?xml version="1.0"?>

<!--
*******************************************************************************
  Copyright 2015 TIIS Webservices - Tanzania Immunization Information System

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 ******************************************************************************
-->
<configuration>

  <connectionStrings>
    <!--<add name="GiisConnectionString" connectionString="Server=142.222.45.59;User Id=giis;Password=giis;DataBase=giisperf;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="System.Data.SqlClient"/>-->
    <add name="GiisConnectionString" connectionString="Host=localhost;User Id=postgres;Password=dori;DataBase=GIIS_PROD;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="GIIS.Tanzania.WCF.UserManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IUserManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.ChildManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IChildManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.HealthFacilityManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IHealthFacilityManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.PlaceManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IPlaceManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.RegisterManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IRegisterManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.VaccinationAppointmentManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IVaccinationAppointmentManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.VaccinationEvent" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IVaccinationEvent" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.DoseManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IDoseManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.AgeDefinitionManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IAgeDefinitionManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.ItemManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IItemManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.NonVaccinationReasonManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.INonVaccinationReasonManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.ScheduledVaccinationManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IScheduledVaccinationManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.StatusManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IStatusManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.SupplementsManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.ISupplementsManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.AuditManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IAuditManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.StockManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding"  binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IStockManagement" behaviorConfiguration="web" />
      </service>
      <service name="GIIS.Tanzania.WCF.VaccinationQueueManagement" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="secureBinding" binding="webHttpBinding" contract="GIIS.Tanzania.WCF.IVaccinationQueueManagement" behaviorConfiguration="web" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="secureBinding">
          <security mode="TransportCredentialOnly"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="GIIS.Tanzania.WCF.ServiceCredentialValidator, GIIS.Tanzania.WCF"/>
          </serviceCredentials>-->
          <!--<serviceAuthorization serviceAuthorizationManagerType="GIIS.Tanzania.WCF.ServiceCredentialValidator, GIIS.Tanzania.WCF" />-->
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
